<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usher Visualized - Home</title>
    <link href="static/home.css" rel="stylesheet"></head>
  </head>
  <body>
    <div>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="container1">
        <div>
        </div>
        <div class="center">
            <img src=/static/assets/UsherLogo.png alt="UsherLogo" height="100px">
            <h2 class="subtitle">
                V I S U A L I Z E D
            </h2>
            <br/>
            <div class="form">
                <div class="center">
                    <form action = "/uploader" method = "POST" 
                    enctype = "multipart/form-data">
                        <div class="button-wrap">
                            <label class="button" for="upload">UPLOAD DATA</label>
                            <input id="upload" type="file" name='file' multiple>
                        </div>
                        <br/>
                        <button type="submit" class="savedata">VISUALIZE</button>
                        <p class="warning">Please upload a data first.</p>
                    </form>
                    <br/>
                    <div>
                        <form action="/">
                            <button type="submit" class="back">GO BACK</button>
                        </form>  
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
  

