<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usher Visualized - Graph</title>
    <link href="static/home.css" rel="stylesheet"></head>
  </head>
  <body>
    <div>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="container">
        <div class="right">
            <div class="grid-container">
                <div class="item1">
                    <form action="/home">
                        <div class="left">
                            <button style="background: #1f1f1f;" type="submit" class="back">GO BACK</button>
                        </div>
            
                    </form>
                    <br/>
                    <form method="POST" action="/select_date">
                        <div class="left">
                            <button style="background-color:#046be1;" type="submit" class="savedata">REFRESH</button>
                        </div>
                        <br/> <br/>
                        <div style="position: relative; top:-15px;" class="left">
                            <div class="select">
                                <select style="width: 90px;" name="select_dates" id="dates">
                                    {% for x in given_dates %}
                                    <option value= "{{x}}" SELECTED>{{x}}</option>"
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="item2">
                    <div class="sidebyside">
                        <h2 style="position: relative; top:20px" class="subtitle">
                            V I S U A L I Z E D
                        </h2>
                        <h3 style="font-weight:lighter;" class="sub-subtitle">
                            A Data Analysis and Visualization Tool
                        </h3>
                        <br/>
                    </div>
                    <img style="position: relative; top:-10px" src=/static/assets/UsherLogo.png alt="UsherLogo" height="100px">
                </div>
            </div>
        </div>
    </div>

    <div style="top:-70px" class="container">
        <div class="center">
            <h2>DATA ANALYSIS</h2>
            <div class="left">
                <div id="contii">
                <p>Axis: {{axisX}}</p>
                <p>Current Date: {{currentDateX}}</p>
                <p>Average: {{aveX}}</p>
                <p>Lowest Acceleration Record: {{lowAcceX}} g</p>
                <p>Time: {{lowTimeX}}</p>
                <p>Fastest Acceleration Record: {{highAcceX}} g</p>
                <p>Time: {{highTimeX}}</p>
                </div>
                <br/>
                <div id="contiii">
                <p>Axis: {{axisY}}</p>
                <p>Current Date: {{currentDateY}}</p>
                <p>Average: {{aveY}}</p>
                <p>Lowest Acceleration Record: {{lowAcceY}} g</p>
                <p>Time: {{lowTimeY}}</p>
                <p>Fastest Acceleration Record: {{highAcceY}} g</p>
                <p>Time: {{highTimeY}}</p>
                </div>
                <br/>
                <div id="contiiii">
                <p>Axis: {{axisZ}}</p>
                <p>Current Date: {{currentDateZ}}</p>
                <p>Average: {{aveZ}}</p>
                <p>Lowest Acceleration Record: {{lowAcceZ}} g</p>
                <p>Time: {{lowTimeZ}}</p>
                <p>Fastest Acceleration Record: {{highAcceZ}} g</p>
                <p>Time: {{highTimeZ}}</p>
                
                </div>
                <div class="center" id="conti">
                <p>Perceived Shaking: {{perSha}}</p>
                <p>Potential Damage: {{poDa}}</p>
            </div>
            </div>
            </div>
            <br/>
            <div class="margin">
            <img src=/static/assets/mercalli.png alt="Mercalli" height="350px"/></div> 
            <br/>
            <p class="center" style="font-size: 20px; font-weight: bold;"> Instrumental Intensity Scale</p> 
              
        </div>
    </div>

    <div style="top:-140px" class="container">
        <div class="center">
            <h2>VISUALIZED DATA</h2>
            <img src=/static/assets/plot1.png alt="UsherLogo" height="650px">
            <img src=/static/assets/plot2.png alt="UsherLogo" height="650px">
            <img src=/static/assets/plot3.png alt="UsherLogo" height="650px">
            <img src=/static/assets/plot4.png alt="UsherLogo" height="650px">
            <img src=/static/assets/plot5.png alt="UsherLogo" height="650px">
            <img src=/static/assets/plot6.png alt="UsherLogo" height="650px">
        </div>
    </div>
    <br/>
    <br/>
    <br/>
  </body>
</html>
  

