<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usher Visualized - Home</title>
    
    <link href="static/home.css" rel="stylesheet"></head>
  </head>
  <body>
    <div>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="container">
        <div class="right">
            <div class="form">
                <div class="grid-container">
                    <div class="item1">
                        <div class="left">
                            <form action = "/uploader" method = "POST" 
                            enctype = "multipart/form-data">
                                <div class="button-wrap">
                                    <label class="button" for="upload">UPLOAD DATA</label>
                                    <input id="upload" type="file" name='file'>
                                </div>
                                <br/>
                                <button type="submit" class="savedata">GENERATE DATA</button>
                                <div class="sidebyside">
                                    <p class="warning">Please choose a data first.</p>
                                </div>
                            </form>
                        </div>
                        <br/>
                        <form action="/">
                            <div class="left">
                                <button type="submit" class="back">GO BACK</button>
                            </div>
                        </form>
                    </div>
                    <div class="item2">
                        <div class="sidebyside">
                            <h2 class="subtitle">
                                V I S U A L I Z E D
                            </h2>
                            <h3 class="sub-subtitle">
                                A Data Analysis and Visualization Tool
                            </h3>
                            <br/>
                        </div>
                        <img src=/static/assets/UsherLogo.png alt="UsherLogo" height="100px">
                    </div>
                </div>
            </div>
            <br/>
        </div>
        <div class="center">

        </div>
    </div>
  </body>
</html>
  

