<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usher Visualized</title>
    <link href="static/index.css" rel="stylesheet"></head>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <img src=/static/assets/UsherLogo.png alt="UsherLogo">
        <br/>
        <br/>
        <h1 id="title"><span aria-hidden="true">USHER</span></h1>
        <h2 class="glitch" id="subtitle"><span>VISUALIZED</span>VISUALIZED<span>VISUALIZED</span></h2>
        <h3 class="sub-subtitle">
          A Data Analysis and Visualization Tool
        </h3>
        <br/>
        <form action="/home">
          <div>
            <button type="submit" class="login_submit">GET STARTED</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
